.tab-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: #fff;
    overflow: hidden;
    margin: 0 auto;
}

.tab-header {
    display: flex;
    background-color: #eaecef;
}

.tab-link {
    flex: 1;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    background: none;
    border-bottom: 3px solid transparent;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.tab-link:hover {
    background-color: #d6dae3;
    border-bottom: 3px solid #b3b8c2;
    color: #222;
}

/** 表示中のタブリンクのスタイル */
.tab-link.show {
    background-color: #cfd3db;
    border-bottom: 3px solid #b3b8c2;
    color: #111;
}

/** タブリンクの押下時のスタイル */
.tab-link:active {
    transform: scale(0.95);
}

/** 下線 */
.divider {
    border: none;
    /* background: linear-gradient(to right, transparent, #999, transparent); */
    background: radial-gradient(circle, #666 50%, transparent 100%);
    background-size: 100% 1px; /* 背景の高さをボーダーの高さと一致させる */
    background-repeat: no-repeat; /* 背景を繰り返さない */
    padding: 10px 20px;
    width: 80%;
    margin-top: 0;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
