dialog {
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
}

/* モーダル ---------------------- */

.modal-wrapper {
    z-index: -1;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 40px 10px;
    text-align: center;
    opacity: 0;
    visibility: none;
    transition: all 0.2s, visibility 0.2s;
    background: rgba(0, 0, 0, 0.8);
}

.modalactive {
    z-index: 999;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.4s, visibility 0.4s;
}

.modal-wrapper::after {
    display: inline-block;
    height: 100%;
    margin-left: -0.05em;
    vertical-align: middle;
    content: "";
}

.modal-wrapper .modal-window {
    box-sizing: border-box;
    display: inline-block;
    z-index: 1000;
    position: relative;
    /* width: 70%; */
    width: auto;
    max-width: 600px;
    border-radius: 2px;
    background: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
    vertical-align: middle;
    text-align: left;
}

.modal-wrapper .modal-window .modal-content {
    max-height: 90vh;
    overflow-y: auto;
    padding: 30px 30px 15px;
}

.modal-overlay {
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

.modal-wrapper .modal-close {
    z-index: 20;
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    color: #95979c !important;
    font-size: 20px;
    font-weight: 700;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
}

.modal-wrapper .modal-close:hover {
    color: #2b2e38 !important;
}
